::-webkit-scrollbar {
	width: 0.5em;
}

:root {
	--hoverColor2: #0099ff;

	--hoverShadow: 0 0 10px var(--hoverColor);
	--clickShadow: 0 0 10px rgba(255, 0, 0, 1);
	
	--highlightShadow: 0 0 10px var(--hoverColor);
	
	--borderShadowColorEffect: inset 0 0 0 1px rgba(var(--elementBorderColor), 0.3);
	--borderShadowColorEffectHover: inset 0 0 0 2px var(--hoverColor2);
	--borderShadowColorEffectClick: inset 0 0 0 2px #ff4a4a;

	--transitionTime: 0.3s;
}
/**--------------------------------**/
.darkMode {
	--background: #0c0c0c;
	--textColor: #d1cece;
	--hoverColor: #ffffff;
	
	--elementBorderColor: 209, 206, 206;
			
	--buttonColor: #333;
	--buttonHoverColor: #222;

	--alkali: #6c3b01;
	--alkaline: #846011;
	--transition: #711019;
	--poor: #003666;
	--lanthanoid: #402c17;
	--actinoid: #732e4c;
	--metalloid: #015146;
	--nonmetal: #3e6418;
	--halogen: #d4d4ab;
	--noble: #3a2151;
	--unknown: #222;
			
	--s-block: #004c52;
	--p-block: #3b5800;
	--d-block: #5f003f;
	--f-block: #0023bb;

	--solid: #bebebe8c;
	--liquid: #1e90ff8c;
	--gas: #ff8c008c;
	--plasma: #ff00ff;
	--unknownState: #80808059;
			
	--electron: #4369b3;
}
/**--------------------------------**/
.lightMode {
	--background: #eff3f5;
	--textColor: #000000;
	--hoverColor: #000000;
	
	--elementBorderColor: 0, 0, 0;
			
	--buttonColor: #6876bb;
	--buttonHoverColor: #3c4369;

	--alkali: hsl(48deg, 77%, 64%);
	--alkaline: hsl(60deg, 83%, 67%);
	--transition: hsl(12deg, 87%, 85%);
	--poor: hsl(192deg, 62%, 80%);
	--lanthanoid: hsl(42deg, 62%, 76%);
	--actinoid: hsl(340deg, 67%, 88%);
	--metalloid: hsl(165deg, 58%, 76%);
	--nonmetal: hsl(120deg, 73%, 74%);
	--halogen: #d4d4ab;
	--noble: hsl(300deg, 44%, 82%);
	--unknown: #EEE;
			
	--s-block: #ffb3c9;
	--p-block: #93ffda;
	--d-block: #daf78c;
	--f-block: #c1d0ff;

	--solid: #7777778c;
	--liquid: #1e47ff8c;
	--gas: #ff26008c;
	--plasma: #ff00aa;
	--unknownState: #EEE;
			
	--electron: #559fef;
}
/**--------------------------------**/
.darkMode ::-webkit-scrollbar-track {
	background: #141414;
}
	
.darkMode ::-webkit-scrollbar-thumb {
	background: #2f3133;
}
/**--------------------------------**/
.lightMode ::-webkit-scrollbar-track {
	background: #bdc3c9;
}

.lightMode ::-webkit-scrollbar-thumb {
	background: #585b5e;
}
/**------------------------------------------------**/
* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	background-color: var(--background);
	color: var(--textColor);

	font-family: system-ui, -apple-system, "Segoe UI", sans-serif;

	transition: background var(--transitionTime);
}
/**-----------------------------------------------**/
.linkText, a {
	color: #5898bf;
	cursor: pointer;
	text-decoration: underline;
	transition: var(--transitionTime);
}
/**-----------------------------------------------**/
button, select {
	display: inline-block;
	background-color: var(--buttonColor);
	border: none;
	color: white;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 4px;
	transition: var(--transitionTime);
	box-shadow: var(--borderShadowColorEffect);
}

input[type="text"], input[type="number"] {
	background-color: transparent;
	color: var(--textColor);
	padding: 8px;
	font-size: 14px;
	border: none;
	border-radius: 4px;
	transition: var(--transitionTime);
	box-shadow: var(--borderShadowColorEffect);
}

input[type="range"] {
	appearance: none;
	-webkit-appearance: none;
	background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(
        90deg,
        #000000 0%,
        #FF3800 14%,
        #FF6D00 28%,
        #FF9329 42%,
        #FFC58F 57%,
        #FFE4CE 71%,
        #FFF3FF 85%,
        #D4EBFF 100%
      );
  box-shadow: var(--borderShadowColorEffect);
}
/**---------------------------**/
.dropdown {
	position: relative;
	width: 220px;
	color: #ffffff;
	margin: 4px 2px;
}

.dropdown .list input[type="radio"] {
	display: none;
}

.dropdown #dropdown-toggle {
	display: none;
}

.dropdown .dropdown-current {
	display: block;
	padding: 4px;
	box-shadow: var(--borderShadowColorEffect);
	background: var(--buttonColor);
	user-select: none;
	font-size: 14px;
	border: none;
	border-radius: 4px;
	position: relative;
	transition: var(--transitionTime);
	z-index: 1;
}

.dropdown .list {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	box-shadow: var(--borderShadowColorEffect);
	background: var(--buttonColor);
	display: none;
	/**max-height: 300px;**/
	overflow-y: auto;
	font-size: 14px;
	z-index: 1;
	min-height: 100%;
}

.dropdown .list label {
	display: block;
	padding: 4px;
	transition: var(--transitionTime);
}

.dropdown .dropdown-current::after {
	content: "";
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid currentColor;
	transition: transform var(--transitionTime);
}

.dropdown #dropdown-toggle:checked ~ .list {
	display: block;
}

.dropdown .list label:has(> input[type="radio"]:checked) {
	box-shadow: var(--borderShadowColorEffectClick);
}
.dropdown #dropdown-toggle:checked + .dropdown-current::after {
	transform: translateY(-50%) rotate(180deg);
}
/**-----------------------------------------------**/
#propertyKey {
    flex-direction: row;
    align-items: center;
}

#propertyKey input[type="radio"] {
	display: none;
}

#propertyKey label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  text-align: center;
  box-shadow: var(--borderShadowColorEffect);
  user-select: none;
  position: relative;
  font-size: 14px;
  color: inherit;
  transition: var(--transitionTime);
}

#propertyKey label::before {
	content: "";
	display: block;
	width: 50%;
	height: 50px;
	font-size: 32px;
	margin-bottom: 8px;
	position: static;
	background-repeat: no-repeat;
	background-size: contain;
}

#propertyKey input[type="radio"]:checked + label {
	background: var(--buttonColor);
	color: #ffffff;
}

[for="Linear"]::before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cmarker id='arrow' markerWidth='10' markerHeight='10' refX='5' refY='5' orient='auto'%3E%3Cpolyline points='3,3 5,5 3,7' fill='none' stroke='%23555'/%3E%3C/marker%3E%3C/defs%3E%3Cg stroke='%23555' stroke-width='3'%3E%3Cline x1='10' y1='100' x2='10' y2='10' marker-end='url(%23arrow)'/%3E%3Cline x1='0' y1='90' x2='90' y2='90' marker-end='url(%23arrow)'/%3E%3Cline x1='10' y1='90' x2='90' y2='10'/%3E%3C/g%3E%3C/svg%3E");
}

[for="logarithmic"]::before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cmarker id='arrow' markerWidth='10' markerHeight='10' refX='5' refY='5' orient='auto'%3E%3Cpolyline points='3,3 5,5 3,7' fill='none' stroke='%23555'/%3E%3C/marker%3E%3C/defs%3E%3Cg stroke='%23555' stroke-width='3'%3E%3Cline x1='10' y1='100' x2='10' y2='10' marker-end='url(%23arrow)'/%3E%3Cline x1='0' y1='90' x2='90' y2='90' marker-end='url(%23arrow)'/%3E%3Cpath d='M10,90 Q20,20 90,20' fill='none'/%3E%3C/g%3E%3C/svg%3E");
}

#rangeGradient {
	width: 20px;
	height: 100px;
    margin-left: 15px;
	margin-right: 15px;
	box-shadow: var(--borderShadowColorEffect);
	transition: var(--transitionTime);
}

/**-----------------------------------------------**/
table {
	table-layout: fixed;
	border-collapse: collapse;
}

td {
	height: 64px;
	width: 64px;
	max-width: 64px;
	max-height: 64px;
	min-width: 64px;
	min-height: 64px;
	padding: 2px;
	transition: var(--transitionTime);
}

.groups td {
	height: auto;
}

.groups {
	text-align: center;
	user-select: none;
}

.period {
	width: auto;
	min-width: auto;
	user-select: none;
}

.lanth-Act {
	background: var(--f-block);
	width: 100%;
    height: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
	box-shadow: var(--borderShadowColorEffect);
	transition: var(--transitionTime);
}
/**--------------------**/
.element, .elementStyle {
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    width: 100%;
    height: 100%;
    padding: 2px;
    transition: var(--transitionTime);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
	opacity: 1;
}

.element *, .elementStyle *, #CloseUp * {
	pointer-events: none;
}

.element, .elementStyle:not(.empty) {
	box-shadow: var(--borderShadowColorEffect);
}

.element b, .elementStyle b {
    font-size: 0.75em;
}

.element em, .elementStyle em {
    font-size: 0.75em;
    font-weight: 500;
    font-style: normal;
}

.element data, .elementStyle data {
    font-size: 0.75em;
    font-weight: 400;
    font-style: normal;
}

.element abbr, .elementStyle abbr {
    font-size: 1.2em;
    font-weight: 600;
}
/**--------------------**/
#CloseUp {
	line-height: 1;
    font-style: normal;
    font-weight: normal;
	padding: 2px;
    transition: var(--transitionTime);
	width: 80px;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: var(--borderShadowColorEffect);
}

#CloseUp output {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 1;
	min-width: 0;
}

#CloseUp b {
	font-size: 1em;
}

#CloseUp abbr {
	font-size: 1.8em;
	font-weight: 600;
}

#CloseUp em {
	font-size: .8em;
	font-weight: 500;
    font-style: normal;
}

#CloseUp data {
	font-size: .8em;
	font-weight: 400;
    font-style: normal;
}
/**--------------------**/
/**.element:not(.empty),
.elementStyle:not(.empty) {
    cursor: crosshair;
}**/

html:not(.blocks, .category) .lanth-Act {
	background: transparent;
}

html:not(.blocks, .category) td:has(> .element) {
	padding: 0;
}
/**-----------------------------------------------**/
.periodicTable {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	overflow: auto;
	overflow-y: hidden;
	overflow-x: auto;
	width: 90%;
	height: 90%;
}
/**-----------------------------------------------**/
.elementsClassView {
	display: flex;
	width: 100%;
	height: 100%;
    flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	transform: translateY(calc(-3 * 100%));
	transition: var(--transitionTime);
}

.elementsClassView .highlightElement {
	width: 40%;
	margin: 3px;
	text-align: center;
	transition: var(--transitionTime);
	box-shadow: var(--borderShadowColorEffect);
}

html:is(.category) .elementsClassView {
	transform: translateY(calc(0 * 100%));
}

html:is(.blocks) .elementsClassView {
	transform: translateY(calc(-1 * 100%));
}

html:is(.state) .elementsClassView {
	transform: translateY(calc(-2 * 100%));
}

.elementsClassView div span {
	cursor: default;
}
/*---------------------*/
.periodicTable:has(.element.highlight) :is(.element, .lanth-Act) {
	opacity: 0.3;
}
.periodicTable:has(.element.highlight) :is(.element.highlight) {
	opacity: 1;
	box-shadow: var(--borderShadowColorEffectClick);
}
/*---------------------*/

/**-----------------------------------------------**/
#sitePopup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	display: none;
}
#sitePopup .infoContainer {
	transition: var(--transitionTime);
	position: fixed;
	z-index: 1;
	background-color: var(--background);
	padding: 1rem;
	border: 1px solid #888;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 300px;
	width: 55%;
	height: 85%;
}

#sitePopup .infoContainer iframe{
	width: 100%;
	height: 95%;
}
/**-----------------------------------------------**/
#atom .atom {
	position: relative;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	background-color: #888;
	transform: translate(-50%);
}
#atom .energy-level {
	position: absolute;
	border: 1px solid #77868b;
	border-radius: 50%;
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}
#atom .electron {
	position: absolute;
	width: 5px;
	height: 5px;
	background-color: var(--electron)/*#77868b*/;
	border-radius: 50%;
	transform: translate(40%, 40%);
}
/**-----------------------------------------------**/
#infoPopup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	display: none;
}

#infoPopup .infoContainer {
	transition: var(--transitionTime);
	position: fixed;
	z-index: 1;
	background-color: var(--background);
	border: 1px solid #888;
	padding: 1rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: auto;
	min-width: 300px;
	width: 25%;
	height: 55%;
}

#infoPopup .infoContainer hr {
	margin: 10px 0;
	border: none;
	border-top: 1px solid #676666;
}
#infoPopup .infoContainer div {
	display: flex;
	justify-content: space-between;
}

.close {
	color: gray;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
	transition: var(--transitionTime);
}

/**-----------------------------------------------**/

.hoverEffect:hover {
	box-shadow: var(--hoverShadow);
}

.linkText:hover, a:hover {
	color: #9d58bf;
}

button:hover, select:hover {
	background-color: var(--buttonHoverColor);
}

input[type="text"]:hover, input[type="number"]:hover {
	box-shadow: var(--borderShadowColorEffectHover);
}

#propertyKey label:hover {
	box-shadow: var(--borderShadowColorEffectHover);
}
/**-----------------**/
.dropdown .list label:hover {
	box-shadow: var(--borderShadowColorEffectHover);
}

.dropdown .dropdown-current:hover {
	background: var(--buttonHoverColor);
}
/**-----------------**/
html:not(.blocks, .category) td:has(> :where(.element)) > :where(.element) {
	box-shadow: none;
	padding: 4px;
}
/**-----------------**/
.element:not(.empty):hover,
.elementStyle:not(.empty):hover,
#CloseUp:hover {
    box-shadow: var(--borderShadowColorEffectHover);
}

.element:not(.empty):active,
.elementStyle:not(.empty):active,
#CloseUp:active {
    box-shadow: var(--borderShadowColorEffectClick);
}

.periodicTable:has(.highlightElement:hover) :is(.element, .highlightElement, .lanth-Act) {
	opacity: 0.3;
}
.periodicTable:has(.highlightElement:hover) :is(.element, .highlightElement):hover,
.periodicTable:has(.highlightElement.alkali:hover) .alkali,
.periodicTable:has(.highlightElement.alkaline:hover) .alkaline,
.periodicTable:has(.highlightElement.transition:hover) .transition,
.periodicTable:has(.highlightElement.poor:hover) .poor,
.periodicTable:has(.highlightElement.lanthanoid:hover) .lanthanoid,
.periodicTable:has(.highlightElement.actinoid:hover) .actinoid,
.periodicTable:has(.highlightElement.metalloid:hover) .metalloid,
.periodicTable:has(.highlightElement.nonmetal:hover) .nonmetal,
.periodicTable:has(.highlightElement.noble:hover) .noble,
.periodicTable:has(.highlightElement.unknown:hover) .unknown,
.periodicTable:has(.highlightElement.s:hover) .s,
.periodicTable:has(.highlightElement.p:hover) .p,
.periodicTable:has(.highlightElement.d:hover) .d,
.periodicTable:has(.highlightElement.f:hover) .f,
.periodicTable:has(.highlightElement.solid:hover) .solid,
.periodicTable:has(.highlightElement.liquid:hover) .liquid,
.periodicTable:has(.highlightElement.gas:hover) .gas,
.periodicTable:has(.highlightElement.unknownState:hover) .unknownState  {
	opacity: 1;
	box-shadow: var(--borderShadowColorEffectHover);
}
/**-----------------**/
.close:hover {
	color: red;
	text-decoration: none;
}
/**-----------------------------------------------**/
@media only screen and (max-width: 500px), only screen and (max-height: 550px) {
	#infoPopup .infoContainer {
		width: 100%;
		height: 100%;
	}
}

@media only screen and (max-width: 1000px), only screen and (max-height: 650px) {
	#sitePopup .infoContainer {
		width: 100%;
		height: 100%;
	}
}
		
@keyframes spin {
	100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/**-----------------------------------------------**/
.alkali {background: var(--alkali);}
.alkaline {background: var(--alkaline);}
.transition {background: var(--transition);}
.poor {background: var(--poor);}
.lanthanoid {background: var(--lanthanoid);}
.actinoid {background: var(--actinoid);}
.metalloid {background: var(--metalloid);}
.nonmetal {background: var(--nonmetal);}
.halogen {background: var(--halogen);}
.noble {background: var(--noble);}
.unknown {background: var(--unknown);}

.blocks .s {background: var(--s-block);}
.blocks .p {background: var(--p-block);}
.blocks .d {background: var(--d-block);}
.blocks .f {background: var(--f-block);}
/**-----------------------------------------------**/
.highlightElementState .solid {background: var(--solid);}
.highlightElementState .liquid {background: var(--liquid);}
.highlightElementState .gas {background: var(--gas);}
.highlightElementState .unknownState {background: var(--unknownState);}