::-webkit-scrollbar {
	width: 0.5em;
}

.darkMode {
	--background: #0c0c0c;
	--textColor: #d1cece;
	--hoverColor: #ffffff;
			
	--buttonColor: #333;
	--buttonHoverColor: #222;

	--alkali: #6c3b01;
	--alkaline: #846011;
	--transition: #711019;
	--poor: #003666;
	--lanthanoid: #402c17;
	--actinoid: #732e4c;
	--metalloid: #015146;
	--nonmetal: #3e6418;
	--halogen: #d4d4ab;
	--noble: #3a2151;
	--unknown: #222;
			
	--s-block: #004c52;
	--p-block: #3b5800;
	--d-block: #5f003f;
	--f-block: #0023bb;
			
	--electron: #4369b3;
}

.darkMode ::-webkit-scrollbar-track {
	background: #141414;
}
	
.darkMode ::-webkit-scrollbar-thumb {
	background: #2f3133;
}

.lightMode {
	--background: rgb(243, 246, 248);
	--textColor: black;
	--hoverColor: rgba(0, 0, 0, 1);
			
	--buttonColor: #6876bb;
	--buttonHoverColor: #3c4369;

	--alkali: hsl(48deg, 77%, 64%);
	--alkaline: hsl(60deg, 83%, 67%);
	--transition: hsl(12deg, 87%, 85%);
	--poor: hsl(192deg, 62%, 80%);
	--lanthanoid: hsl(42deg, 62%, 76%);
	--actinoid: hsl(340deg, 67%, 88%);
	--metalloid: hsl(165deg, 58%, 76%);
	--nonmetal: hsl(120deg, 73%, 74%);
	--halogen: #d4d4ab;
	--noble: hsl(300deg, 44%, 82%);
	--unknown: #EEE;
			
	--s-block: #ffb3c9;
	--p-block: #93ffda;
	--d-block: #daf78c;
	--f-block: #c1d0ff;
			
	--electron: #559fef;
}

.lightMode ::-webkit-scrollbar-track {
	background: #bdc3c9;
}

.lightMode ::-webkit-scrollbar-thumb {
	background: #585b5e;
}

:root {
	--hoverShadow: 0 0 10px var(--hoverColor);
	--clickShadow: 0 0 10px rgba(255, 0, 0, 1);
}
/**------------------------------------------------**/
.blocks .s {background-color: var(--s-block);}
.blocks .p { background-color: var(--p-block); }
.blocks .d { background-color: var(--d-block); }
.blocks .f { background-color: var(--f-block); }

* {
	box-sizing: border-box;
}
/**-----------------------------------------------**/
.hoverEffect:hover {
	box-shadow: var(--hoverShadow);
}

.linkText, a {
	color: #5898bf;
	cursor: pointer;
	text-decoration: underline;
	transition: 0.5s;
}

.linkText:hover, a:hover {
	color: #9d58bf;
}
/**-----------------------------------------------**/
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	background-color: var(--background);
	color: var(--textColor);
}

h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/**-----------------------------------------------**/
button {
	display: inline-block;
	background-color: var(--buttonColor);
	border: none;
	color: white;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	transition: 0.5s;
}
button:hover {
	background-color: var(--buttonHoverColor);
}

#searchbar {
	background-color: var(--background);
	color: var(--textColor);
	padding: 8px;
	width: 200px;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	box-shadow: var(--borderShadowColorEffect);
}
/**-----------------------------------------------**/
td {
	width: 62px;
	height: 62px;
	min-width: 62px;
	min-height: 62px;
}

.groups td {
	height: auto;
}

.groups {
	text-align: center;
	user-select: none;
}

.period {
	width: auto;
	min-width: auto;
	user-select: none;
}
/**--------------------**/
.element, .elementStyle {
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    width: 60px;
    height: 60px;
    padding: 2px;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
	opacity: 1;
}

.element b, .elementStyle b {
    font-size: 0.8em;
}

.element em, .elementStyle em,
.element data, .elementStyle data {
    font-size: 0.85em;
    font-weight: 300;
    font-style: normal;
	/*overflow: hidden;*/
	/*text-overflow: ellipsis;*/
}

.element abbr, .elementStyle abbr {
    font-size: 1.2em;
    font-weight: 600;
}

.element b, .elementStyle b,
.element em, .elementStyle em,
.element data, .elementStyle data,
.element abbr, .elementStyle abbr {
    pointer-events: none;
}
/**--------------------**/
.element:not(.empty),
.elementStyle:not(.empty) {
    cursor: crosshair;
}

.element:not(.empty):hover,
.elementStyle:not(.empty):hover {
    box-shadow: var(--hoverShadow);
}

.element:not(.empty):active,
.elementStyle:not(.empty):active {
    box-shadow: var(--clickShadow);
}
/**-----------------------------------------------**/
.periodicTable {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	overflow: auto;
	overflow-y: hidden;
	overflow-x: auto;
	width: 90%;
	height: 90%;
	/*background-color: #1e1e1e;*/
	/*border-radius: 10px;*/
	/*box-shadow: 0 0 10px rgba(255, 255, 255, .2);*/
}
/**-----------------------------------------------**/
.elementsClassVew {
	display: flex;
	width: 100%;
	height: 100%;
    flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.elementsClassVew .highlightElement {
	width: 40%;
	height: 15%;
	margin: 3px;
	transition: 0.3s;
}

.elementsClassVew .highlightElementBlocks {
	width: 40%;
	height: 40%;
	margin: 3px;
	text-align: center;
	font-weight: 1000;
}

html:not([class*="blocks"]) .elementsClassVew .highlightElementBlocks {
	display: none;
}

.elementsClassVew div span {
	cursor: default;
}
/*---------------------*/
.periodicTable:has(.element.highlight) :is(.element) {
	opacity: 0.3;
}
.periodicTable:has(.element.highlight) :is(.element.highlight) {
	opacity: 1;
	box-shadow: var(--hoverShadow);
}
/*---------------------*/
.periodicTable:has(.highlightElement:hover) :is(.element, .highlightElement) {
	opacity: 0.3;
}
.periodicTable:has(.highlightElement:hover) :is(.element, .highlightElement):hover,
.periodicTable:has(.highlightElement.alkali:hover) .alkali,
.periodicTable:has(.highlightElement.alkaline:hover) .alkaline,
.periodicTable:has(.highlightElement.transition:hover) .transition,
.periodicTable:has(.highlightElement.poor:hover) .poor,
.periodicTable:has(.highlightElement.lanthanoid:hover) .lanthanoid,
.periodicTable:has(.highlightElement.actinoid:hover) .actinoid,
.periodicTable:has(.highlightElement.metalloid:hover) .metalloid,
.periodicTable:has(.highlightElement.nonmetal:hover) .nonmetal,
.periodicTable:has(.highlightElement.noble:hover) .noble,
.periodicTable:has(.highlightElement.unknown:hover) .unknown,
.periodicTable:has(.highlightElement.s:hover) .s,
.periodicTable:has(.highlightElement.p:hover) .p,
.periodicTable:has(.highlightElement.d:hover) .d,
.periodicTable:has(.highlightElement.f:hover) .f {
	opacity: 1;
	box-shadow: var(--hoverShadow);
}
/**-----------------------------------------------**/
#sitePopup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	display: none;
}
#sitePopup .infoContainer {
	transition: 0.2s;
	position: fixed;
	z-index: 1;
	background-color: var(--background);
	padding: 1rem;
	border: 1px solid #888;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 300px;
	/**min-height: 400px;**/
	width: 55%;
	height: 85%;
}

#sitePopup .infoContainer iframe{
	width: 100%;
	height: 95%;
}

#sitePopup .infoContainer .close {
	color: gray;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.5s;
}
#sitePopup .infoContainer .close:hover {
	color: red;
	text-decoration: none;
}
/**-----------------------------------------------**/
#atom .atom {
	position: relative;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	background-color: #888;
	transform: translate(-50%);
}
#atom .energy-level {
	position: absolute;
	border: 1px solid #77868b;
	border-radius: 50%;
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}
#atom .electron {
	position: absolute;
	width: 5px;
	height: 5px;
	background-color: var(--electron)/*#77868b*/;
	border-radius: 50%;
	transform: translate(40%, 40%);
}
/**-----------------------------------------------**/
#infoPopup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	display: none;
}
#infoPopup .infoContainer {
	transition: 0.2s;
	position: fixed;
	z-index: 1;
	background-color: var(--background);
	padding: 1rem;
	border: 1px solid #888;
	width: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: auto;
	min-width: 300px;
	/**min-height: 100px;**/
	width: 25%;
	height: 55%;
}
#infoPopup .infoContainer hr {
	margin: 10px 0;
	border: none;
	border-top: 1px solid #676666;
}
#infoPopup .infoContainer div {
	display: flex;
	justify-content: space-between;
}
#infoPopup .infoContainer .close {
	color: gray;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.5s;
}
#infoPopup .infoContainer .close:hover {
	color: red;
	text-decoration: none;
}
/**-----------------------------------------------**/
@media only screen and (max-width: 450px), only screen and (max-height: 550px) {
	#infoPopup .infoContainer {
		width: 100%;
		height: 100%;
	}
}

@media only screen and (max-width: 1000px), only screen and (max-height: 650px) {
	#sitePopup .infoContainer {
		width: 100%;
		height: 100%;
	}
}
		
@keyframes spin {
	100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/**-----------------------------------------------**/
.alkali {background-color: var(--alkali);}
.alkaline {background-color: var(--alkaline);}
.transition {background-color: var(--transition);}
.poor {background-color: var(--poor);}
.lanthanoid {background-color: var(--lanthanoid);}
.actinoid {background-color: var(--actinoid);}
.metalloid {background-color: var(--metalloid);}
.nonmetal {background-color: var(--nonmetal);}
.halogen {background-color: var(--halogen);}
.noble {background-color: var(--noble);}
.unknown {background-color: var(--unknown);}
